* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
}


header {
	width: 100%;
	height: 5em;
	background-color: #343A40;
	font-weight: bold;

}

.topbar h1{
	color: #D9D5D5;
	text-align: left;
	font-size: 2em;
	padding-top: 3.5%;
}

.topbuttoms{
	list-style-type: none;
	text-decoration: none;
	margin-left: 30%;
	padding-top: 1em;
}

.topbuttoms li a {
	color: #D9D5D5;
	display: block;
	float: left;
	margin: 4%;
	border-radius: 5%;	
}
.topbuttoms li a:hover{
	 background-color: #D9D5D5;
	 color:#343A40; 
}


.topbuttoms li a{
	text-decoration: none;
} 

.banner{
	background-image: url("../img/cafebanner.jpg");
	background-size: cover;
	background-position: bottom;
	height: 20em;
}


.txt{
	padding:2em;
	color: #544D4D; 

}
.uno p{
	margin-right: 3em;
}


.btn{
	height:15%;
	width:20%;
	background-color: #343A40;
	border-radius:10%;
}

.btn a{
	font-weight: bold;
	padding: 5%;
	text-decoration: none;
	color:#D9D5D5;
}


.boxes{
	text-align: center;
	height: 60%;
}

.txts{
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	/*padding-right: 2em;
	padding-left: 2em;*/
}
.box{
	border: 1px solid #C9C8C8;
	text-align: center;

	
}

.txts{
	height:40%;
	text-align: left;
}

.img1{
	background-image: url(../img/aac522b4243c0458afb89e41d16eea96--coffee-drinks-coffee-cafe.jpg);
}

.img2{
	background-image: url(../img/bc142086f5f2e61f1e16bd95629170a8--studio-ghibli-coffee-break.jpg);

}

.img3{
	background-image: url(../img/Young-people-relaxing-in-a-coffee-shop.jpg);
}

.img1, .img2, .img3{
	height:15em;
	width: 23em;
	margin-left: 1em;
}
.btns{
	height: 30%;
	border-top: 1px solid #C9C8C8;
	padding-top: 2%;
	vertical-align: auto;
}

.btn2{
	height:4%;
	width:12%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #343A40;
	border-radius: 5%;
}

.btn2 a{
	font-weight: bold;
	padding: 2%;
	text-decoration: none;
	color:#D9D5D5;
}

footer{
	height: 4em;
	background-color:  #343A40;
	margin-top: 5%;
}

footer h3{

	text-align: center;
	padding: 1em;
	color: #D9D5D5;
}


